<ion-view title="首頁">
  <ion-content>
    <img class="full-image" src="/views/home/img/androidbanner.png"alt="">
    <div class="row padding-left stable-bg">
      <div class="col stable-bg">
        <h6>今日</h6>
        <p class="income">1<span class="yuan">元</span> </p>
        <p>比昨日：<span class="balanced">+1<span><i class="icon ion-arrow-right-a balanced"></i> </span></span> </p>
      </div>
      <div class="col stable-bg">
        <h6>本周报表</h6>
        <p class="income">234.12<span class="yuan">元</span> </p>
        <p>同期：555.78<i class="ion-arrow-down-a dark"></i></p>
      </div>
      <div class="col stable-bg">
        <h6>本月报表</h6>
        <p>256.14</p>
        <p>同期：125.78<i class="ion-arrow-up-a assertive"></i></p>
      </div>
    </div>
    <div class="row row-no-padding quick-actions">
      <div class="col col-25 quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-android-apps balanced" ></i>
          <h5>新增商品</h5>
        </a>
      </div>
      <div class="col col-25 quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-person-add energized" ></i>
          <h5>新增会员</h5>
        </a>
      </div>
      <div class="col col-25 quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-clipboard calm" ></i>
          <h5>收银记账</h5>
        </a>
      </div>
      <div class="col col-25 quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-cash royal" ></i>
          <h5>支出管理</h5>
        </a>
      </div>
    </div>
    <div class="row row-no-padding quick-actions">
      <div class="col col-25 quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-bag " ></i>
          <h5>商品管理</h5>
        </a>
      </div>
      <div class="col col-25 quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-person-stalker energized" ></i>
          <h5>新会员管理</h5>
        </a>
      </div>
      <div class="col col-25 quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-ios-search-strong balanced" ></i>
          <h5>查询销售</h5>
        </a>
      </div>
      <div class="col col-25 quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-pricetags energized" ></i>
          <h5>智能分析</h5>
        </a>
      </div>
    </div>
    <div class="row row-no-padding quick-actions">
      <div class="col col-25 quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-steam energized" ></i>
          <h5>供应商管理</h5>
        </a>
      </div>
      <div class="col col-25 quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-compose energized" ></i>
          <h5>挂单</h5>
        </a>
      </div>
      <div class="col col-25 quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-wrench energized" ></i>
          <h5>高级功能</h5>
        </a>
      </div>
      <div class="col col-25 quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-more energized" ></i>
          <h5>敬请期待</h5>
        </a>
      </div>
    </div>
  </ion-content>
  <div class="row text-center center-bottom" >
    <h5 style="width: 100%">2011-2017生意专家</h5>
  </div>
</ion-view>
